<IfModule mod_rewrite.c>
RewriteEngine On

# Cegah kalau akses file nyata (php, gambar, css, js, dsb)
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Cegah rewrite file php langsung seperti berita.php, tentang.php, dll
RewriteCond %{REQUEST_URI} !\.php$ [NC]
RewriteCond %{REQUEST_URI} !^/assets/ [NC]

RewriteCond %{REQUEST_URI} !^/css/ [NC]

RewriteCond %{REQUEST_URI} !^/js/ [NC]

RewriteCond %{REQUEST_URI} !^/scss/ [NC]
# Baru Rewrite untuk pattern kategori/slug
RewriteRule ^([a-z0-9-]+)/([a-z0-9-]+)/?$ %{ENV:BASE}/post.php?category=$1&slug=$2 [L,QSA,NC]
</IfModule>
